nav {
  display: flex;
  justify-content: flex-end;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: black;
  font-family: 'Courier Prime', monospace;

  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

#home {
  margin-left: 10px;
}

#home a {
  /* color: rgb(226, 139, 53); */
  color: white;
  text-decoration: none;
  font-size: x-large;
  opacity: .5;
}
#home a:hover {
  opacity: 1;
}

#nav-links {
  flex-direction: row;
  display: flex;
  gap: 2em;
  margin-right: 10px;
  
}

#nav-links a {
  color: white;
  text-decoration: none;
  opacity: .5;
}
#nav-links a:hover {
  color: white;
  text-decoration: none;
  opacity: 1;
}


