nav {
  display: flex;
  justify-content: flex-end;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: black;
  font-family: 'Paytone One', sans-serif;

}

#home {
  margin-left: 10px;
}

#home a {
  color: rgb(226, 139, 53);
  text-decoration: none;
  font-size: x-large;
}

#nav-links {
  flex-direction: row;
  display: flex;
  gap: 2em;
  margin-right: 10px;
  /* color: white; */
}

#nav-links a {
  color: white;
  text-decoration: none;
}


