nav {
  position: fixed;
  top: 0;
  width: 98%;
  height: 50px;
  background-color: rgba(21, 21, 21, 0);
  /* display: flex;
  justify-content: flex-end;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: black;
  font-family: 'Courier Prime', monospace;

  overflow: hidden; */
  /* position: fixed; Set the navbar to fixed position */
  /* top: 0; Position the navbar at the top of the page */
  /* width: 100%; Full width */
}

ul {
  padding: 0px 0px 0px 0px;
}

.list {
  list-style-type: none;
  background-color: rgb(21, 21, 21);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 10px;
}

.items {
  margin-right: 20px;
  font-size: 20px;
  text-transform: uppercase;
  color: white;
}

.items a {
  color: goldenrod;
  text-decoration: none;
  opacity: .5;
}
.items a:hover {
  opacity: 1;
}

.nav-btn {
  display: none;
  position: absolute;
  right: 10px;
  top: 7px;
  padding: 5px;
  color: #000;
  font-size: 18px;

}

#home-link a {
  color: white;
  text-decoration: none;
  font-size: x-large;
  opacity: .5;
}
#home-link a:hover {
  opacity: 1;
}

/* nav ul {
  padding-inline-start: 0px;
} */

nav img {
  width: 10%;
  background-color: transparent;
}
.nav-btn {
  background-color: transparent;
  border: 0px;
}

#resume-btn {
  color: goldenrod;
  text-decoration: none;
  opacity: .5;
  background-color: black;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 10px;
}
#resume-btn:hover {
  opacity: 1;
  cursor: pointer;  
}


@media screen and (max-width: 575px) {
  #home a {
    font-size: medium;
  }
  #nav-links a {
    font-size: small;
    gap: 0em;
  }
  .list {
    flex-direction: column;
    height: auto;
  }
  .items:nth-child(1){
    border-top: 1px solid black;
    margin-top: 50px;
  }
  .items {
    width: 100%;
    border-top: 1px solid black;
    text-align: center;
    margin-right: 0px;
    padding: 20px 0
  }
  .nav-btn {
    display: block;
  }
  nav {
    max-width: 575;
  }
}
