body {
  /* background-color: rgb(28, 28, 28); */
  background-color: black;
  font-family: 'Courier Prime', monospace;
  color: white;
}

.App {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  
}

#home-page {
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#home-page img {
  opacity: 0.5;
  margin-top: 40px;
}
#home-page img:hover {
  opacity: .8;
}

#home-page a {
  color: goldenrod;
  text-decoration: none;
  font-size: larger;
  opacity: .5;
}
#home-page a:hover {
  opacity: 1;
}

#home-details h3 {
  color: #38A169;
}
#home-details p {
  color: #38A169;
}

#about-page {
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#about-page img {
  opacity: .5;
}
#about-page img:hover {
  opacity: 1;
}

#about-me {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 500px;
  justify-content: center;
}

#about-me-links {
  display: flex;
  flex-direction: row;
  width: 500px;
  justify-content: space-around;

}

#about-me a {
  color: goldenrod;
  text-decoration: none;
  font-size: larger;
  opacity: .5;
}
#about-me a:hover {
  color: goldenrod;
  text-decoration: none;
  font-size: larger;
  opacity: 1;
}

#about-me h1 {
  color: #38A169;
}
#about-me h3 {
  color: #38A169;
}
#about-me p {
  color: #38A169;
}

#combo-contact-project {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#contact-page {
  color: #38A169;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

#contact-page a {
  color: goldenrod;
  text-decoration: none;
  font-size: larger;
}

#contact-page form {
  display: flex;
  flex-direction: column;
  align-self: center;
  color: white;
}

#contact-page input {
  background-color: rgb(21, 21, 21);
  color: white;
  border-radius: 10px;
  padding: 10px;
}
#contact-page textarea {
  background-color: rgb(21, 21, 21);
  color: white;
  border-radius: 10px;
  padding: 10px;
}
#contact-page button {
  background-color: rgb(21, 21, 21);
  color: goldenrod;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  opacity: .5;
  font-family: 'Courier Prime', monospace;
}
#contact-page button:hover {
  opacity: 1;
}

#project-page {
  color: #38A169;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 50%;
}

#project-list {
  display: flex;
  flex-direction: row;
}

#project-card-list {
  justify-content: space-around;
  gap: 10px;
  
}

#project-card {
  background-color: rgb(21, 21, 21);
  border: 2px solid darkgray;
  border-radius: 20px;
  /* width: 40%; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
}

#project-card button {
  background-color: rgb(21, 21, 21);
  color: goldenrod;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  opacity: .5;
  font-family: 'Courier Prime', monospace;
}

#project-card button:hover {
  opacity: 1;
}
#project-image img {
  width: 60%;
  padding: 20px;
}

#project-image {
  width: 30%;
}

#resume-page {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#learn-more {
margin-bottom: 20px;
}

#project-details {
  display: flex;
  flex-direction: column;
  width: 70%;
}

#technology-used {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#project-details img {
  width: 5%;
  padding: 10px
}

#project-details-and-link {
  display: flex;
}

#project-links {
  align-self:flex-end;
  padding: 20px;
}

#right-section-divider {
  border-top: 8px solid rgb(21, 20, 20);
  border-radius: 5px;
  margin: 20px;
  width: 30%;
  align-self: center;
}

#badges-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self:center;
  max-width: 800px;
  max-height: 400px;
}
#stack-one {
  /* padding: 10px;
  display: flex;
  flex-direction: column; */
}
#stack-two {
  /* padding: 10px;
  display: flex;
  flex-direction: column; */
}

#badges-container img {
  /* height:45px;
  width: 160px; */
  padding: 10px;
  border-radius: 20px;
}