body {
  /* background-color: rgb(28, 28, 28); */
  background-color: black;
  font-family: 'Courier Prime', monospace;
  color: white;
}

.App {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  
}

#home-page {
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#home-page img {
  opacity: 0.5;
  margin-top: 40px;
}
#home-page img:hover {
  opacity: .8;
}

#home-page a {
  color: goldenrod;
  text-decoration: none;
  font-size: larger;
}

#home-details h3 {
  color: #38A169;
}
#home-details p {
  color: #38A169;
}

#about-page {
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#about-page img {
  opacity: .5;
}
#about-page img:hover {
  opacity: 1;
}

#about-me {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 500px;
  justify-content: center;
  
}

#about-me a {
  color: goldenrod;
  text-decoration: none;
  font-size: larger;
}

#about-me h1 {
  color: #38A169;
}
#about-me h3 {
  color: #38A169;
}
#about-me p {
  color: #38A169;
}

#contact-page {
  color: white;
  text-align: center;
}

#contact-page a {
  color: goldenrod;
  text-decoration: none;
  font-size: larger;
}

#project-page {
  color: white;
  text-align: center;
  display: flex;
  /* flex-direction: column; */
}

#project-list {
  display: flex;
  flex-direction: row;
}

#project-card {
  background-color: slategray;
  border: 2px solid white;
  border-radius: 20px;
  width: 40%
}
#project-card img {
  width: 50%
}

#resume-page {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#learn-more {
margin-bottom: 20px;
}

#project-details-and-link {
  display: flex;
}

#project-links {
  align-self:flex-end;
  padding: 20px;
}

#right-section-divider {
  border-top: 8px solid rgb(21, 20, 20);
  border-radius: 5px;
  margin: 10px;
  width: 30%;
  align-self: center;
}

#badges-container {
  display: flex;
  flex-direction: row;
}
#stack-one {
  padding: 10px;
  display: flex;
  flex-direction: column;
}
#stack-two {
  padding: 10px;
  display: flex;
  flex-direction: column;
}
#badges-container img {
  height:45px;
  width: 160px;
  padding: 10px;
  border-radius: 20px;
}