body {
  background-color: black;
  font-family: 'Courier Prime', monospace;
  color: white;
}

.App {
  display: flex;
  flex-direction: column;
  
}

#home-page {
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#home-page img {
  opacity: 0.5;
  margin-top: 40px;
}
#home-page img:hover {
  opacity: .8;
}

#home-page a {
  color: goldenrod;
  text-decoration: none;
  font-size: larger;
  opacity: .5;
  cursor: pointer;
}
#home-page a:hover {
  opacity: 1;
  cursor: pointer;
}

#home-details h3 {
  color: #38A169;
}
#home-details p {
  color: #38A169;
}

#about-page {
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#about-page img {
  opacity: .5;
}
#about-page img:hover {
  opacity: 1;
}

#about-me {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 30%;
  min-width: 20%;
  justify-content: center;
  margin-top: 10px;

  border-radius: 20px;
  background-color: rgb(21, 21, 21);
  padding: 20px;
  box-shadow: 0px 5px 10px 0px rgba(47, 147, 85, 0.5);
  /* box-shadow: 0px 5px 10px 0px rgba(47, 147, 85, 0.5) */
}
#about-me:hover {
  box-shadow: 0px 10px 20px 5px rgba(47, 147, 85, 0.5);
  transform: translateY(-5px);
}

#about-me-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%

}

#about-me a {
  color: goldenrod;
  text-decoration: none;
  font-size: larger;
  opacity: .5;
  cursor: pointer;
}
#about-me a:hover {
  color: goldenrod;
  text-decoration: none;
  font-size: larger;
  opacity: 1;
  cursor: pointer;
}

#about-me h1 {
  color: #38A169;
}
#about-me h3 {
  color: #38A169;
}
#about-me p {
  color: #38A169;
}

#about-me button {
  background-color: black;
  color: goldenrod;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  opacity: .5;
  font-family: 'Courier Prime', monospace;
  cursor: pointer;
}
#about-me button:hover {
  opacity: 1;
}

.projects-container {
  /* width: 100%; */
}
/* #combo-contact-project {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
} */

#contact-page {
  color: #38A169;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact-page a {
  color: goldenrod;
  text-decoration: none;
  font-size: larger;
  cursor: pointer;
}

#contact-page form {
  display: flex;
  flex-direction: column;
  align-self: center;
  color: white;
  text-align: center;
  margin: 40px;
}

#contact-page input {
  background-color: rgb(21, 21, 21);
  color: white;
  border-radius: 10px;
  padding: 10px;
  font-family: 'Courier Prime', monospace;
}
#contact-page textarea {
  background-color: rgb(21, 21, 21);
  color: white;
  border-radius: 10px;
  padding: 10px;
}
#contact-page button {
  background-color: rgb(21, 21, 21);
  color: goldenrod;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  opacity: .5;
  font-family: 'Courier Prime', monospace;
  cursor: pointer;
}
#contact-page button:hover {
  opacity: 1;
}

#project-page {
  color: #38A169;
  text-align: center;
  /* display: flex;
  flex-direction: column; */
}

#project-list {
  display: flex;
  flex-direction: row;
}

#project-card-list {
  justify-content: space-around;
  gap: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#project-card {
  /* background-color: rgb(21, 21, 21); */
  /* border: 2px solid darkgray; */
  /* border-radius: 20px; */
  /* width: 40%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  width: 20%;

  border-radius: 20px;
  background-color: rgb(21, 21, 21);
  padding: 20px;
  box-shadow: 0px 5px 10px 0px rgba(47, 147, 85, 0.5);
  box-shadow: 0px 5px 10px 0px rgba(47, 147, 85, 0.5)
}
#project-card:hover {
  box-shadow: 0px 10px 20px 5px rgba(47, 147, 85, 0.5);
}

#project-card p {
  color: white;
}


#project-image {
  padding: 10px;
  border-radius: 20px;
  width: 90%;
  /* position: relative; */
}

#project-card button {
  background-color: black;
  color: goldenrod;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
  opacity: .5;
  font-family: 'Courier Prime', monospace;
  cursor: pointer;
}

#project-card button:hover {
  opacity: 1;
}

#resume-page {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#learn-more {
margin-bottom: 20px;
}

#project-details {
  display: flex;
  flex-direction: column;
  width: 70%;
}

#technology-used {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
  width: 20%;
}

#project-details img {
  width: 20%;
  padding: 10px
}
#project-details p {
  font-size: x-small;
}

#project-details-and-link {
  display: flex;
}

#project-links {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

#right-section-divider {
  border-top: 8px solid rgb(21, 20, 20);
  border-radius: 5px;
  margin: 20px;
  width: 30%;
  align-self: center;
}

#badges-container {
  display: flex;
  flex-direction: row;
  text-align: center;
}

#badges-container img {
  padding: 10px;
  border-radius: 20px;
}

.badge-section {
  display: flex;
  flex-direction: column;
  width: 33%
}
.badge-section h2 {
 font-size: medium;
}

/* modal experiment  */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.modal-content {
  border-radius: 10px;
  width: 90%;
  background-color: rgba(21, 20, 20, 1);
}

.modal-header, .modal-footer {
  padding: 10px;
}

.modal-title {
  margin: 0;
  font-size: large;
  color: goldenrod;
}

.modal-body {
  padding: 10px;
}
.modal-body h4 {
  color: goldenrod;
}

/* contact modal  */

.contact-modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.contact-modal-content {
  border-radius: 10px;
  background-color: rgba(21, 20, 20, 1);
}

.contact-modal-header, .contact-modal-footer {
  padding: 10px;
  text-align: center;
  align-items: center;
}
.contact-modal-footer button {
  background-color: rgb(21, 21, 21);
  color: goldenrod;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  opacity: .5;
  font-family: 'Courier Prime', monospace;
  cursor: pointer;
}
.contact-modal-footer button:hover {
opacity: 1;
}

.contact-modal-title {
  margin: 0;
  font-size: large;
  color: goldenrod;
}

/* footer  */
.footer {
display: flex;
flex-direction: column;
align-items: center;
justify-items: center;
font-size: x-small;
text-align: center;
}

.footer img {
  width: 3%;
  padding: 5px;
  opacity: .5;
}
.footer img:hover {
  width: 3%;
  padding: 5px;
  opacity: 1;
}

@media screen and (max-width: 925px) {
  /* #combo-contact-project {
    display: flex;
    flex-direction: column;
  } */
  #about-page {
    flex-direction: column;
  }
  #home-page {
    display: flex;
    flex-direction: column;
  }
  #home-page img {
    order: 1;
    margin-top: 50px;
    opacity: 1;
  }
  #home-details {
    order: 2;
  }
  #about-me {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 80%;
    justify-content: center;
  }
  #about-me-links {
    flex-direction: row;
    max-width: 100%;
  
  }
  #contact-page {
    width: 100%;
  }
  #project-page {
    width: 100%;
  }
  #project-page h3, h4 {
    font-size: small;
  }
  #technology-used {
    width: 100%;
  }
  #technology-used img {
    width: 20%;
  }
  ul {
    padding: 0;
    list-style-type: none;
  }

  .footer img {
    width: 10%;
    padding: 5px;
  }

  .contact-modal-content {
    width: 80%;
  }
}
@media screen and (max-width: 925px) {
  #project-card {
    width: 100%
  }
}

